In [1]:
import pandas as pd
import os
import numpy as np
import json
import sys
from tqdm import tqdm
from geopy.distance import geodesic 

# system setup
user_info_filename = "user_fix.csv"
trace_info_filename = "traces_fix.csv"

# node config filename
topology_filename = "topology.json"

## 1 Preprocess User info data

#### 1.1 load user
load user and filter out users with no country info

In [7]:
# load user info

user_df = pd.read_csv(user_info_filename)
trace_df = pd.read_csv(trace_info_filename)
#print(user_df.columns)
#print(trace_df.columns)

# calculate the timestamp offset
start_timestamp = trace_df.loc[0, "timestamp"]

def timestamp_offset(ts):
    return ts - start_timestamp

trace_df["timestamp_offset"] = trace_df["timestamp"].apply(timestamp_offset)

user_df = pd.merge(user_df, trace_df, on='user_id', how='inner')
print(user_df)
print(trace_df)

         user_id  n_pin  n_followers  n_following  n_like_x  \
0             82   2497          441           99       262
1            420   3102           87           42       175
2           1515   1726           44          105      1303
3           1529   7884          302          177       966
4           1550   8264          281          135       894
...          ...    ...          ...          ...       ...
1193754  3022154   8035          558          313      1534
1193755  3022155    847           36          143        10
1193756  3022156   3471          227           57        11
1193757  3022158    574          299          285      1661
1193758  3022165   1068          575           94       106

         n_following_twitter  n_follower_twitter  n_tweet        lat  \
0                      238.0              8382.0   2140.0  29.760803
1                     1586.0               761.0   2558.0  35.582684
2                      136.0                35.0     83.0  33.195906
3                     1675.0              1097.0   3360.0  40.525526
4                      378.0                81.0   2212.0  39.323725
...                      ...                 ...      ...        ...
1193754                 -1.0                -1.0     -1.0  28.508333
1193755                 -1.0                -1.0     -1.0  36.705000
1193756                397.0               405.0   6767.0  36.705000
1193757                 -1.0                -1.0     -1.0  36.705000
1193758                 -1.0                -1.0     -1.0  44.901667

                lng  region   timestamp method            file_url  file_size  \
0        -95.369506       1  1370675737    GET      4135-49328.dat     167396
1        -97.508599       4  1370650715    GET    890917-46941.dat      64154
2       -117.379517       3  1370587888    GET  2439057-143777.dat      44780
3        -79.840601       5  1370844833    GET   2255041-78620.dat      12949
4       -111.678248       3  1371022821    GET  2373544-246694.dat      96893
...             ...     ...         ...    ...                 ...        ...
1193754  -76.608333       2  1371386010    GET    975464-29711.dat     155459
1193755  -95.885000       4  1371370515    GET    474706-38510.dat      83622
1193756  -76.608333       5  1371113803    GET     47123-42465.dat      35287
1193757  -76.608333       5  1370665570    GET  2636850-259578.dat      55318
1193758  -76.608333       8  1371842659   POST  3022165-167334.dat      52004

         n_like_y  timestamp_offset
0               0            141332
1               0            116310
2               0             53483
3               0            310428
4               0            488416
...           ...               ...
1193754         0            851605
1193755         0            836110
1193756         0            579398
1193757         0            131165
1193758         0           1308254

[1193759 rows x 17 columns]
         user_id   timestamp method             file_url  file_size  n_like  \
0        2993811  1370534405   POST    2993811-27932.dat      35111       0
1        2308187  1370534417   POST    2308187-21838.dat      26447       0
2         172946  1370534418   POST     172946-21841.dat      42245       2
3        2039079  1370534418   POST     2039079-4720.dat      35763       0
4        1399414  1370534423   POST     1399414-1645.dat     173362       0
...          ...         ...    ...                  ...        ...     ...
1193754   113082  1374074924    GET    1660106-90931.dat      57386       0
1193755  2324093  1374076605    GET   1239822-377779.dat      34419       0
1193756  2806178  1374076607    GET  1733287-1640109.dat      21618       1
1193757  2653174  1374076613    GET   2814889-122868.dat      23635       0
1193758   958643  1374076614    GET   2507688-129998.dat      16721       1

         timestamp_offset
0                       0
1                      12
2                      13
3                      13
4                      18
...                   ...
1193754           3540519
1193755           3542200
1193756           3542202
1193757           3542208
1193758           3542209

[1193759 rows x 7 columns]

#### 1.2 split user to different node

In [3]:
topology_json = ""
with open(topology_filename) as json_file:
    topology_json = json.load(json_file)

access_nodes = topology_json["topology"]["layer-2"]
print(access_nodes)

[{'id': 'access-0', 'name': 'Seattle', 'location': [47.6062, 122.3321], 'domain_name': '', 'ip_address': ''}, {'id': 'access-1', 'name': 'Los Angeles', 'location': [34.0522, 118.2437], 'domain_name': '', 'ip_address': ''}, {'id': 'access-2', 'name': 'New York', 'location': [40.7128, 74.006], 'domain_name': '', 'ip_address': ''}, {'id': 'access-3', 'name': 'Atlanta', 'location': [33.7438, 84.387], 'domain_name': '', 'ip_address': ''}]

In [ ]:
#user_df = user_df.head(20)
#print(user_df)

#### 1.3 allocate user to node

In [8]:
import math

def euclidean_distance(lat1, lon1, lat2, lon2):
    x = lat2 - lat1
    y = lon2 - lon1
    distance = math.sqrt(x**2 + y**2)

    return distance

def calculate_distance(row, nodes, prog_bar):
    min_distance = 1000000000000000000
    min_idx = -1
    for idx, node in enumerate(nodes):
        user_coords = (row['lat'], row['lng'])
        node_coords = node["location"]
        distance = euclidean_distance(user_coords[0], -user_coords[1], node_coords[0], node_coords[1])
        if min_idx == -1 :
            min_idx = idx
            min_distance = distance
        elif distance < min_distance:
            min_distance = distance
            min_idx = idx

    nodes[min_idx]["users_id"].append(row["user_id"])
    prog_bar.update(1)

progress_bar = tqdm(user_df.iterrows(), total=len(user_df))

for node in access_nodes: 
    node["users_id"] = []

user_df['distances'] = user_df.apply(calculate_distance, axis=1, nodes=access_nodes, prog_bar=progress_bar)

100%|██████████| 1193759/1193759 [11:22<00:00, 1750.30it/s]

In [10]:
for node in access_nodes:
    print(len(node["users_id"]))

57289
198480
488961
449029

## 2 Extract node trace

#### 2.1 allocate trace to node

In [11]:
trace_split_result = {}

for node in access_nodes:
    node_name = node["name"]
    users_id = node["users_id"]
    
    mask = trace_df["user_id"].isin(users_id)
    
    filtered_trace_df = trace_df[mask].reset_index(drop=True)
    
    # save result
    trace_split_result[node_name] = filtered_trace_df

for name, trace in trace_split_result.items():
    print(name)
    print(trace)

Seattle
       user_id   timestamp method             file_url  file_size  n_like  \
0       277045  1370534496   POST     277045-69529.dat      26094       0
1       364458  1370534499   POST     364458-69559.dat      27548       0
2      2923017  1370534500    GET     239353-69563.dat      38575       0
3       638653  1370534501    GET     378601-69576.dat     105661       0
4      1092132  1370534511    GET     333785-69874.dat      29956       0
...        ...         ...    ...                  ...        ...     ...
57284  1219440  1374015962    GET   1929204-136827.dat      11377       2
57285  1277511  1374030786    GET    1557893-91215.dat      33623       0
57286   564725  1374032726    GET    2836425-76214.dat      57048       0
57287  2500963  1374034522    GET  2874298-1114398.dat      66752       0
57288  2725703  1374060488    GET    2866554-79480.dat      48526       0

       timestamp_offset
0                    91
1                    94
2                    95
3                    96
4                   106
...                 ...
57284           3481557
57285           3496381
57286           3498321
57287           3500117
57288           3526083

[57289 rows x 7 columns]
Los Angeles
        user_id   timestamp method            file_url  file_size  n_like  \
0       1399414  1370534423   POST    1399414-1645.dat     173362       0
1       2671645  1370534431   POST    2671645-4771.dat      40677       0
2       1786789  1370534481   POST   1786789-23881.dat      37448       0
3       1525289  1370534488    GET    502495-69444.dat      40328       1
4        672583  1370534488   POST    672583-69443.dat      21972       0
...         ...         ...    ...                 ...        ...     ...
198475  2385251  1374040961    GET   1665590-91273.dat      31779       0
198476  1701284  1374040971    GET   2412433-91103.dat     144368       0
198477  2630874  1374049752    GET    930118-90428.dat      74988       0
198478   505727  1374065799    GET  2643015-112633.dat      10008       3
198479  2653174  1374076613    GET  2814889-122868.dat      23635       0

        timestamp_offset
0                     18
1                     26
2                     76
3                     83
4                     83
...                  ...
198475           3506556
198476           3506566
198477           3515347
198478           3531394
198479           3542208

[198480 rows x 7 columns]
New York
        user_id   timestamp method             file_url  file_size  n_like  \
0        172946  1370534418   POST     172946-21841.dat      42245       2
1       2039079  1370534418   POST     2039079-4720.dat      35763       0
2        924774  1370534470   POST     924774-68885.dat      66527       1
3       2524293  1370534472   POST    2524293-28372.dat     128331       0
4        346380  1370534475   POST     346380-68962.dat      95635       4
...         ...         ...    ...                  ...        ...     ...
488956  2667060  1374069395    GET   2006187-221050.dat       6862       0
488957  1605043  1374072411    GET    2943931-73501.dat      52469       0
488958   113082  1374074924    GET    1660106-90931.dat      57386       0
488959  2806178  1374076607    GET  1733287-1640109.dat      21618       1
488960   958643  1374076614    GET   2507688-129998.dat      16721       1

        timestamp_offset
0                     13
1                     13
2                     65
3                     67
4                     70
...                  ...
488956           3534990
488957           3538006
488958           3540519
488959           3542202
488960           3542209

[488961 rows x 7 columns]
Atlanta
        user_id   timestamp method            file_url  file_size  n_like  \
0       2993811  1370534405   POST   2993811-27932.dat      35111       0
1       2308187  1370534417   POST   2308187-21838.dat      26447       0
2        104377  1370534427   POST     104377-2100.dat     112988       1
3       1517294  1370534459   POST    1517294-3394.dat      17050       0
4       2107321  1370534474   POST    2107321-1532.dat      48215       1
...         ...         ...    ...                 ...        ...     ...
449024  2913899  1374058567    GET  2758104-118720.dat      42654       1
449025   160886  1374059037    GET    412495-58667.dat      37247       0
449026  1908400  1374062661    GET   2866554-79480.dat      48526       0
449027  1083092  1374062817    GET   344824-568871.dat      97005       2
449028  2324093  1374076605    GET  1239822-377779.dat      34419       0

        timestamp_offset
0                      0
1                     12
2                     22
3                     54
4                     69
...                  ...
449024           3524162
449025           3524632
449026           3528256
449027           3528412
449028           3542200

[449029 rows x 7 columns]

#### 2.2 split to each node

In [12]:
# doing aisa node
# maximum trace line 10000
# maximum container number 10
max_line = 10000
max_container = 20

for node_name, node_traces in trace_split_result.items():
    # asia-node
    traces_size = len(node_traces)
    print(node_name, " with trace size ", traces_size)
    container_num = traces_size // max_line
    if container_num <= 0:
        container_num = 1
    elif container_num > 20:
        container_num = 20

    print(node_name, " with container number ", container_num)
    # split traces
    split_dfs = [node_traces.iloc[i::container_num] for i in range(container_num)]
    output_dir = "./dataset/" + node_name
    os.makedirs(output_dir, exist_ok=True)

    for idx, df in enumerate(split_dfs):
        output_filename = output_dir + "/" + "trace-%d" %idx
        df.to_csv(output_filename, header=False)

Seattle  with trace size  57289
Seattle  with container number  5
Los Angeles  with trace size  198480
Los Angeles  with container number  19
New York  with trace size  488961
New York  with container number  20
Atlanta  with trace size  449029
Atlanta  with container number  20